@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,500&display=swap');
#root {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding: 0;
box-sizing: border-box;
min-height: 1500px;
/* font-family: 'Playfair Display', serif; */
}
body{
  overflow-x: hidden;
}
.max-container{
  max-width: 1293px;
}
::selection{
  background-color: #474747;
  color:white
}